 <h1>홈페이지 홈홈홈!</h1>

<% if user_signed_in? %>
<!-- 로그인 상태 시 -->
    <%= current_user.email %>
    <%= link_to '로그아웃', destroy_user_session_path, method: "delete"%>

<% else %>
<!-- 로그아웃 상태시-->
    <%= link_to '로그인', new_user_session_path %>


<% end %>